body {
  background-color: #f7f7f7;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #20c178;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 -9px 40px 16px rgb(0 0 0 / 30%);
}

.App-link {
  color: #61dafb;
}

.card {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.students-results {
  max-width: 75%;
  margin: auto;
}
.filter-bar__placeholder {
  padding-left: 5px;
}

.filter-bar__indicators {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 8px;
  display: flex;
}
